<!-- views/homepage.handlebars -->

<!-- Display existing blog posts -->
{{#if Posts.length}}
  <h1>Existing Blog Posts:</h1>
  <ul>
    {{#each Posts}}
      <li>
        <h2>{{title}}</h2>
        <p>Published on {{formatDate createdAt}}</p>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No blog posts available.</p>
{{/if}}

<!-- Navigation links -->
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/dashboard">Dashboard</a></li>
  {{#if authenticated}}
    <li><a href="/logout">Logout</a></li>
  {{else}}
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
  {{/if}}
</ul>
