<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h1>Login</h1>
  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
 <!--form action="/api/login" method="POST" class="login-form">
  <input type="text" id="name" placeholder="username">
  <input type="password" id="password" name="password" placeholder="password">
  <button type="submit">Log In</button>
</form-->
<form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
<script src="/public/js/login.js">  </script>
</body>
</html>
